<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="p-4 mb-3 bg-light rounded">
    <h4 class="fst-italic">О проекте</h4>
    <p class="mb-0">Данный проект был создан учеником 2 курса РТУ МИРЭА по направлению Програмная инженерия, студентом группы ИКБО-20-19, Ковалевым Алексеем Леонидовичем</p>
</div>
<div class="p-4 mb-3 bg-light rounded">
    <h4 class="fst-italic">About</h4>
    <p class="mb-0">This project was created by a 2nd year student of RTU MIREA in the direction of Software Engineering, a student of the IKBO-20-19 group, Alexey Leonidovich Kovalev</p>
</div>
<p> Вы можете написать\ просмотреть другие работы здесь</p>
<article class="blog-post">
    <h2 class="blog-post-title">Контактные данные</h2>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Follow on </strong>
                    <h3 class="mb-0">VK</h3>
                    <a href="https://vk.com/deusfactussum" class="stretched-link"></a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg href="#" class="bd-placeholder-img" width="200" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Click</text></svg>

                </div>
            </div>
        </div>
    </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Follow on </strong>
                            <h3 class="mb-0">Instagram</h3>
                            <p></p>
                            <a href="" class="stretched-link"></a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg href="#" class="bd-placeholder-img" width="200" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Click</text></svg>

                        </div>
                    </div>
                </div>
                </div>

    </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">Follow on </strong>
                                <h3 class="mb-0">GitHub</h3>
                                <p></p>
                                <a href="https://github.com/KeyGoddle" class="stretched-link"></a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <svg href="#" class="bd-placeholder-img" width="200" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Click</text></svg>

                            </div>
                        </div>
                    </div>



</article>
</body>
</html>